@media screen and (min-width: 800px) {
  body {
    width: 50%;
    margin: 0px auto;
    font-size: 1.3em;
  }
  
  #random {
    padding: 50px;
  }
}

@media screen and (max-width: 800px) {
  body {
    width: 98%;
    margin: 0px auto;
    font-size: 1em;    
  }
  
  #random {
    padding: 30px;
  }
}

@media screen and (max-width: 400px) {
  body {
    width: 98%;
    margin: 0px auto;
    font-size: .8em;    
  }
}

span {
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

#used {
   padding: 20px 0px 20px 0px;
   white-space: pre-wrap;
}

#used span {
    background-color: rgb(200, 55, 70);
}

#not_used span {
    background-color: rgb(10, 163, 255);
}

#actions {
    text-align: center;
}

#play_with {
    background-color: rgb(205, 219, 35);
    display:none;
}



